body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.gallery img {
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}