nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.galleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.galleria img {
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 700px;
    height: 350px;
    object-fit: cover;
}
.back-to-top {
    position: relative;
    right: 10px;
    bottom: 10px;
    background-color: #555;
    color: white;
    padding: 10px;
    text-decoration: none;
}
