body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url('background.jpg');
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.attractions {
    padding: 20px;
    text-align: center;
}

.attractions ul {
    list-style-type: none;
    padding: 0;
}

.attractions ul li {
    margin: 10px 0;
}
.image-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.kozepso{
    background-color: rgba(99, 219, 159, 0.3);
}
.kozepso img
{
    box-shadow: 2px 2px 10px black;
}
td:first-child
{
    background-color: rgb(255, 255, 255, 0.85);
}
h1
{
 text-align: center;
text-size: 15px
}
